<mat-toolbar class="theme">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="company-nav-name">Example Company</span>
  <span class="nav-space"></span>
  <button
    mat-icon-button
    aria-label="Chat with representative icon-button with two speech bubbles"
  >
    <mat-icon>forum</mat-icon>
  </button>
</mat-toolbar>

<div style="text-align: center; padding: 0.5rem">
  <h1>Company™</h1>
  <h2>At Company™, we're all about having fun and getting it done!</h2>

  <img
    src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg"
  />
  <p>
    When it comes to doing stuff, nobody is better than us. At Company™, expect
    no less from us then what we have to offer. Our team of energetic thought
    leaders aren't afraid to tackle a challenge head on.
  </p>

  <img
    src="https://cdn.pixabay.com/photo/2018/07/25/08/58/business-3560916_960_720.jpg"
  />
  <p>
    Our office is powed by coffee. All of our best ideas start in the company
    cafe*. Our motto is "A good idea can't be seen if we haven't had our beans."
  </p>

  <img
    src="https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340_960_720.jpg"
  />
  <p>
    We are always on high alert for the newest trends in the socialsphere. That
    trending hashtag might be our next client's golden ticket.
  </p>

  <img
    src="https://cdn.pixabay.com/photo/2020/03/15/17/59/table-tennis-4934489_960_720.jpg"
  />
  <p>
    We have a relaxed environment that keeps everyone's creative juices flowing.
    When our thought leader crew is sharpening their ping pong prowess over an
    ice cold IPA from our in house productivity pub**, they're brainstorming new
    ways for our clients to climax their click conversion campaigns.
  </p>

  <h6>
    * Company cafe is a Caribucks in the same business mall and is not
    officially affiliated with Company™.
  </h6>
  <h6>
    ** Brian does not have a liquor liscense but his homebrew is not subject to
    regulation.
  </h6>
</div>

<router-outlet></router-outlet>
