<mat-toolbar class="theme">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="company-nav-name">Example Company</span>
  <span class="nav-space"></span>
  <button
    mat-icon-button
    aria-label="Chat with representative icon-button with two speech bubbles"
  >
    <mat-icon>forum</mat-icon>
  </button>
</mat-toolbar>

<div style="text-align: center">
  <h1>Company™</h1>
  <h2>At Company™, we're all about having fun and getting it done</h2>
</div>

<img
  src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg"
/>

<router-outlet></router-outlet>
