<mat-card class="card">
  <img
    mat-card-image
    src="https://cdn.pixabay.com/photo/2018/04/07/17/26/startup-3299033_960_720.jpg"
    alt="Dave Kyle"
  />
  <mat-card-content>
    <p>
      <b>Dave Kyle</b> founded Company™ with one vision in mind: Be the best you
      can... and put your petal to the metal. Dave failed at franchising a
      Windy's in five separate Seatle suburbs before perservering to find his
      calling of calling the shots at Company™.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img
    mat-card-image
    src="https://cdn.pixabay.com/photo/2020/05/25/10/48/man-5218084_960_720.jpg"
    alt="Brian Bently"
  />
  <mat-card-content>
    <p>
      <b>Brian Bently</b> is our agile ninja master. Tired of scrumbag managers,
      Brian quit his junior web developer job at Amerzon to bring a soft but
      commanding leadership to the Company™ developer team. When he isn't
      perfecting his pong pong game or writing an agenda for his next standup
      meeting, Brian is running our in-house productivity pub.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img
    mat-card-image
    src="https://cdn.pixabay.com/photo/2019/12/06/15/50/business-4677631_960_720.jpg"
    alt="Vanessa Venti"
  />
  <mat-card-content>
    <p>
      <b>Vanessa Venti</b> isn't afraid to get her hands dirty in the business
      mines. She is always digging for the best talent while simultaneously
      blasting job postings all over the internet. She was a cofounder of
      Windeed, a job searching network for winners. She has almost completely
      automated our hiring surges with cutting edge email campagin bots. Like
      she always says, "As long as there's two people left on the planet,
      somebody is gonna want someone hired."
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img
    mat-card-image
    src="https://cdn.pixabay.com/photo/2016/08/15/08/35/woman-1594711_960_720.jpg"
    alt="Developer Team"
  />
  <mat-card-content>
    <p>
      <b>Developer Teams</b> don't come out of nowhere. Our energetic thought
      leaders are a plugged in bunch of tech wizards. There isn't any problem
      they can't solve. Fed on a steady diet of coffee, pizza and salad, they
      descend into the work mines and come out with productivity diamonds. When
      they aren't sharpening their ping pong skills over a brisk discussion of
      the latest frontend framework, they are writing the next webapp that will
      blast of your companies revenue to the moon.
    </p>
  </mat-card-content>
</mat-card>
