/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// https://color.adobe.com/create/color-wheel
$theme-color-primary: #34ebeb;

.theme {
  background-color: $theme-color-primary;
}
